body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0 auto;
    /* width: 600px; */
    padding: 0 20px 20px 20px;
    background-color: #000000;
    color: #ffffff;
}

img {
    display: block;
    margin: 10px;
}
#shadow{
    transition: 0.3s;
}

#shadow:hover{
    padding: 5px;
}

.Title{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#site-title {
    font-family: 'Fira Code', monospace;
    padding: 20px 0;
    color: #ec1a1a;
    text-align: center;
}

.items{
    color: #ffffff;
    padding: 5px;
    width: 50%;
    transition: 0.5s;
}

.items:hover{
    color: #000000;
    background-color: #f5f5f5;
}

.items a:hover{
    color: #000000;
    background-color: #ec1a1a;
    /* border-radius: 3px 0 0 3px; */
    padding: 5px;
}
.items a{
    color: #ff0000;
    transition: 0.2s;
}

.music-container{
    display: flex;
    flex-flow: row;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.music-link{
    height: 100px;
    width: 100px;
}